.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 2% 0%;
  margin: 0% 2%;
  border-bottom: 2px rgb(206, 206, 206) solid;
}
.profile-text {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.name {
  font-size: 16px;
  font-weight: 300;
}
.email {
  font-size: 16px;
  font-weight: 300;
  color: gray;
}
.name_list{
  font-size: 20px;
  font-weight: 300;
  width: 100%;
}
.right-header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3%;
  width: 50%;
  justify-content: flex-end;
  cursor: pointer;
}
.modal-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10%;
  justify-content: center;
  border-top: 1px solid rgb(236, 236, 236);
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  cursor: pointer;
}
.signout{
    background-color: lightcoral;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    outline: none;
    border: none;
    cursor: pointer;
}
