.container {
  width: 90%;
  padding: 5% 0%;
  padding-left: 2%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
.profileDetails_container {
  width: 100%;
}
.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.name-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2% 0%;
  padding: 0% 0%;
  gap: 10px;
}
.details-title {
  color: gray;
  font-size: 18px;
  font-weight: 500;
  width: 40%;
  text-align: end;
}
.details-value {
  color: #212529;
  font-size: 18px;
  font-weight: 500;
  width: 50%;
}
.center-border {
  border-bottom: rgb(190, 188, 188) solid 1px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-container {
  width: "100%";
  padding: 3% 10%;
}
.profile-left_container {
  width: 38%;
  border-right: rgb(190, 188, 188) solid 1px;
}
.profile-right_container {
  width: 60%;
}
.address-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 2% 0%;
  padding: 0% 0%;
  gap: 10px;
}
.address-title {
  color: gray;
  font-size: 20;
  font-weight: 500;
  width: 30%;
  text-align: end;
}
.address-value {
  color: #212529;
  font-size: 20;
  font-weight: 500;
  width: 30%;
}
.address-header {
  color: gray;
  font-size: 20;
  font-weight: 500;
  text-align: left;
  margin-left: 10%;
}
.google-map {
  height: 300px;
  width: 100%;
}
.map-bottom {
  margin: 2% 0%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 10px;
}
.lat_text {
  color: gray;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
}
.lat_value {
  color: black;
  font-weight: 500;
  margin-left: 1%;
}

@media (min-width: 1000px) and ( max-width: 1450px) {
  .details-title {
  color: gray;
  font-size: 14px;
  font-weight: 500;
  text-align: end;
}
.details-value {
  color: #212529;
  font-size: 14px;
  font-weight: 500;
}
}